
#include "winresrc.h"
#include "commctrl.h"
#include "resource.h"




//
// Dialog resources
//
LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA
IDD_DIALOG DIALOGEX 0, 0, 175, 55
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "switchMode"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    PUSHBUTTON      "MobileBrServ", IDB_MODE, 115, 5, 55, 14, 0, WS_EX_LEFT
    LTEXT           "IP адрес:", IDS_IP, 10, 10, 35, 9, SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDE_IP, WC_IPADDRESS, WS_TABSTOP, 5, 25, 105, 15, WS_EX_LEFT
    EDITTEXT        IDE_VID, 5, 25, 35, 14, NOT WS_VISIBLE  | ES_READONLY  | ES_AUTOHSCROLL | ES_UPPERCASE | ES_CENTER, WS_EX_LEFT
    EDITTEXT        IDE_PID, 40, 25, 35, 14, NOT WS_VISIBLE | ES_READONLY  | ES_AUTOHSCROLL | ES_UPPERCASE | ES_CENTER, WS_EX_LEFT
    EDITTEXT        IDE_REV, 75, 25, 35, 14, NOT WS_VISIBLE | ES_READONLY  | ES_AUTOHSCROLL | ES_UPPERCASE | ES_CENTER, WS_EX_LEFT
    LTEXT           "VID:", IDS_VID, 10, 10, 19, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT
    LTEXT           "PID:", IDS_PID, 45, 10, 19, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT
    LTEXT           "REV:", IDS_REV, 80, 10, 19, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Debug mode", IDB_DEBUG, 115, 20, 55, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Project mode", IDB_PROJECT, 115, 35, 55, 14, 0, WS_EX_LEFT
}



//
// Icon resources
//
LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA
IDI_ICON          ICON           "icon.ico"



//
// Manifest resources
//
LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA
1                  RT_MANIFEST    "manifest.xml"
